{% extends "base.html" %}
{% load static %}


{% block title %}Crypto Calc{% endblock %}
{% block header_text %}Crypto Calc{% endblock %}

{% block content %}

    <div class="container">
        <input type="checkbox" name="sound_checkbox" id="sound_checkbox">
        <label for="sound_checkbox" class="text-danger mb-0">Sound ?</label>

        <br>
        <span id="log">Loading...</span>
    </div>

    <div id="chats">

        <div class="d-flex justify-content-center align-items-center my-4">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

    </div>

    <div id="popup"></div>

{% endblock %}


{% block extra_body %}

    <audio id="alert-sound" src="{% static 'detectionSound.mp3' %}" preload="auto"></audio>

    <style>
        .dataTables_wrapper .row{
            width: 100%;
        }
    </style>

    <script>
        // Handle popup
        $('#popup').hide();

        function showAlert(text, is_success){

            $('#popup').text(text);
            $('#popup').show();

            $('#popup').removeClass();
            if (is_success){
                $('#popup').addClass('success');
            }
            else{
                $('#popup').addClass('error');
            }

            setTimeout( function(){
                $('#popup').hide();
            }, 3000);
        }


        function displayNotification(text, is_success, is_sound) {
            showAlert(text, is_success);

            // Play Sound
            if (is_sound){
                if(document.getElementById('sound_checkbox').checked) {
                    //I am checked
                    document.getElementById('alert-sound').play();
                }
                else{
                    console.log('Sound not enabled');
                }
            }
        }
    </script>


    <script>
        $(function () {
            // Correctly decide between ws:// and wss://
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var ws_path = ws_scheme + '://' + window.location.host + "/chat/stream/";
            console.log("Connecting to " + ws_path);
            var socket = new ReconnectingWebSocket(ws_path);

            // Handle incoming messages
            socket.onmessage = function (message) {
                // Decode the JSON
                // console.log("Got websocket message " + message.data);
                var data = JSON.parse(message.data);
                // Handle errors
                if (data.error) {
                    alert(data.error);
                    return;
                }
                // Handle joining
                if (data.join) {
                    console.log("Joining room " + data.join);
                    var roomdiv = $(`
                            <div class='room' id='room-${data.join}'>

                                <div class="table-responsive mt-4">
                                    <button class="btn btn-secondary mb-3" id="btn-sort-0" name="btn=sort-0">Sort newer on top</button>
                                    <table class="table my-3" id="table-ws">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Coin</th>
                                                <th>Profit</th>
                                                <th>Buy Exchange</th>
                                                <th>Sell Exchange</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        `);

                    $("#chats").html(roomdiv);

                    // Trigger table event
                    var evt = new CustomEvent("table-view", {detail: "table-ws"});
                    window.dispatchEvent(evt);

                }
                else if (data.leave) {
                    // Handle leaving
                    console.log("Leaving room " + data.leave);
                    $("#room-" + data.leave).remove();

                }
                else if (data.data || data.msg_type != 0) {
                    // Handle getting a message
                    var msgdiv = $("#room-" + data.room + " #table-ws tbody");

                    // msg types are defined in chat/settings.py
                    // Only for demo purposes is hardcoded, in production scenarios, consider call a service.
                    switch (data.msg_type) {
                        case 0:
                            var msg = data.data;

                            // Message
                            var evt = new CustomEvent("table-view-push", { detail :{
                                selector: "table-ws",
                                data: msg,
                                new_len: data.new_len,
                                old_len: data.old_len,
                            }});
                            window.dispatchEvent(evt);
                            break;

                        default:
                            console.log("Unsupported message type!");
                            return;
                    }
                }
                else {
                    console.log("Cannot handle message!");
                }
            };

            // Says if we joined a room or not by if there's a div for it
            inRoom = function (roomId) {
                return $("#room-" + roomId).length > 0;
            };

            // Room join/leave
            roomId = '1';

            // Helpful debugging
            socket.onopen = function () {
                console.log("Connected to chat socket");

                // Join room
                $(this).addClass("joined");
                socket.send(JSON.stringify({
                    "command": "join",
                    "room": roomId
                }));

                // Start receiving data
                socket.send(JSON.stringify({
                    "command": "receive_data",
                    "room": roomId
                }));

                $('#log').text('Requesting...');
            };
            socket.onclose = function () {
                console.log("Disconnected from chat socket");
            }



            // On table-view event
            var table = null;
            // Create the table after joined
            window.addEventListener("table-view", function(evt) {
                var selector = '#' + evt.detail;
                table = $(selector).DataTable({
                    order: [[0, 'dec'], [1, 'asc']],
                    columnDefs: [
                        { "visible": false, "targets": 0 },
                        { "orderable": false, "targets": [3,4] },
                        {
                            "render": function ( data, type, row ) {
                                return data+'%';
                            },
                            "targets": 2
                        },
                    ],
                });

                $('#btn-sort-0').on('click', function(){
                    table
                        .order([0, 'dec'])
                        .draw();
                });
            }, false);

            // Draw the table on update
            window.addEventListener("table-view-push", function(evt) {
                $('#log').text('Drawing');
                var selector = '#' + evt.detail.selector;
                var new_len = evt.detail.new_len;
                var old_len = evt.detail.old_len;

                $(selector).children('tbody').html('');

                var msgData = evt.detail.data;
                var new_sound_count = 0;

                if(table){
                    table.clear();
                    Object.keys(msgData).forEach(symbol => {
                        var val = msgData[symbol];

                        // Is new
                        new_sound_count += (val.is_new) ? 1 : 0;

                        // Find profit percentage
                        var profit = Math.round((val.data[1]['price'] - val.data[0]['price']) * 100*100/val.data[0]['price'] )/100;
                        if (val.data[0]['price'] == 0){
                            profit = -1;
                        }

                        var rowNode = table.row.add([
                            (val.is_new) ? 1 : 0,
                            symbol,

                            `${profit}`,

                            `${val.data[0]['exchange']} <br>
                            Price : ${val.data[0]['price']} <br>
                            Volume : ${val.data[0]['volume']}`,

                            `${val.data[1]['exchange']} <br>
                            Price : ${val.data[1]['price']} <br>
                            Volume : ${val.data[1]['volume']}`,
                        ]).draw().node();

                        $(rowNode).addClass(`${(val.is_new) ? 'bg-warning' : 'bg-light'} text-dark`);
                    });
                }

                // Alert user
                var new_count = new_len - old_len;

                displayNotification(`Found ${new_len}(${(new_count >= 0) ? `+${new_count}` : `${new_count}`}) trades`,
                    true,
                    new_sound_count > 0
                );
                $('#log').text('Requesting...');
            }, false);
        });
    </script>
{% endblock %}
